{% extends "layouts/base.html" %}

{% block title %}Courses{% endblock %}

{% block content %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Courses</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
             
              <li class="breadcrumb-item active" aria-current="page">Available Courses</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    {% for course in courses %}
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="mb-0">{{ course.title }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{ course.description }}</p>
            <h6 class="card-subtitle mb-2 text-muted">{{ course.language }}</h6>
            <p class="card-text">
              <span class="badge bg-primary rounded-pill">{{ course.created_at|date:"F j, Y" }}</span>
            </p>
            <a href="{% url 'course_detailFront' course.id %}" class="btn btn-primary">View Course</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col">
        <div class="alert alert-warning text-center">No courses available</div>
      </div>
    {% endfor %}
  </div>

  {% include "includes/footer.html" %}
</div>
{% endblock %}
